@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
	// Brand Colors
	--bright-blue: #1a3fd8;
	--dark-blue: #003a5d;
	--grey-blue: #728fa1;
	--green: #40cb6c;
	--off-white: #f2f5f9;
	--white: #fffff;

	// Breakpoints
	$breakpoint-mobile: 480px;
	$breakpoint-tablet: 768px;
	$breakpoint-desktop: 1024px;

	// Spacing
	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 0.75rem;
	--space-lg: 1rem;

	// Fonts
	--primary-font: "Inter", sans-serif;
	--secondary-font: "Open Sans", sans-serif;
	// Root Font Size
	font-size: 16px;
	// Dynamic Font Sizes
	--tiny-font: 0.5rem;
	--small-font: 0.75rem;
	--reg-font: 1rem;
	--lg-font: 1.25rem;
	--xl-font: 1.5rem;
	--xxl-font: 2rem;
	// Headings
	h1 {
		font-family: --primary-font;
	}
}
