@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
	// Brand Colors
	--bright-blue: #1a3fd8;
	--dark-blue: #003a5d;
	--grey-blue: #728fa1;
	--green: #40cb6c;
	--off-white: #f2f5f9;
	--white: #ffffff;

	// Breakpoints
	--breakpoint-mobile: 480px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1024px;

	// Spacing
	--space-xxs: 0.125rem;
	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 0.75rem;
	--space-lg: 1rem;
	--space-xxl: 2rem;
	--special-space: 12rem;

	// Fonts
	--primary-font: "Inter", sans-serif;
	--secondary-font: "Open Sans", sans-serif;

	// Non-Variable Root Font Size
	font-size: 16px;

	// Dynamic Font Sizes
	--tiny-font: 0.5rem;
	--small-font: 0.85rem;
	--reg-font: 1rem;
	--lg-font: 1.25rem;
	--xl-font: 1.5rem;
	--xxl-font: 2rem;

	// Dynamic Font Weights
	--thin-font: 300;
	--standard-font: 500;
	--thick-font: 700;

	// Other
	--transition-smooth: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
