@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./index.scss" as *;

.features-section-wrapper {
	margin: var(--space-xl) var(--space-md);
	padding: var(--space-xl) var(--space-md);

	h2 {
		margin-top: var(--space-xl);
	}

	@include respond-to("desktop") {
		margin: 0 var(--space-md);
		padding: 0 var(--special-space);
	}
}

.features-uniform-grid {
	display: grid;

	gap: 2rem;
	width: 100%;

	@include respond-to("desktop") {
		grid-template-columns: repeat(6, 1fr);
	}
}

.feature-card {
	grid-column: span 2;
	background: var(--white);
	border: 1px solid var(--grey);
	border-radius: 5px;
	padding: var(--space-lg);
	box-sizing: border-box;
	position: relative;
	transition: all 0.33s ease;

	@include respond-to("desktop") {
		&:nth-child(4),
		&:nth-child(5) {
			grid-column: span 3;
		}
	}
	&:hover {
		background: var(--off-white);
		border: 1px solid var(--grey-blue);
	}
}

.card-tag {
	text-transform: uppercase;
	font-family: var(--secondary-font);
	font-size: var(--small-font);
	font-weight: var(--thick-font);
	color: var(--bright-blue);
}

.card-title {
	margin: var(--space-sm) 0;
	font-weight: var(--thick-font);
	color: var(--dark-blue);
}

.card-question {
	font-size: var(--small-font);
	font-weight: var(--thick-font);
}

.card-description {
	font-size: var(--small-font);
}
