header {
  background: var(--dark-blue);
  color: var(--white);
  padding: var(--space-md) 8rem;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2rem;
  width: 5rem;
  height: 5rem;
}
header div .fake-logo {
  padding-right: var(--space-sm);
}

body {
  margin: -2rem 0;
  height: 100%;
}

h1 {
  font-family: var(--primary-font);
  font-size: var(--small-font);
  font-weight: var(--standard-font);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  margin: 0;
}