header {
	background: var(--dark-blue);
	color: var(--white);
	padding: var(--space-md) 8rem;
	div {
		display: flex;
		flex-direction: row;
		padding-top: 2rem;
		width: 5rem;
		height: 5rem;
		.fake-logo {
			padding-right: var(--space-sm);
		}
	}
}

body {
	margin: -2rem 0;
	height: 100%;
}

h1 {
	font-family: var(--primary-font);
	font-size: var(--small-font);
	font-weight: var(--standard-font);
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	margin: 0;
}
