@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --bright-blue: #1a3fd8;
  --dark-blue: #003a5d;
  --grey-blue: #728fa1;
  --green: #40cb6c;
  --grey: #c3d1dd;
  --off-white: #f2f5f9;
  --white: #ffffff;
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem;
  --space-xl: 1.5rem;
  --space-xxl: 2rem;
  --special-space: 12rem;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  font-size: 16px;
  --tiny-font: 0.5rem;
  --small-font: 0.85rem;
  --reg-font: 1rem;
  --lg-font: 1.25rem;
  --xl-font: 1.5rem;
  --xxl-font: 2rem;
  --thin-font: 300;
  --standard-font: 500;
  --thick-font: 700;
  --transition-smooth: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--white);
}
.slider-container .slider-window {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  min-width: 100%;
}
.slider-container .slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: var(--breakpoint-mobile);
  background-color: var(--off-white);
  min-height: 35rem;
}
.slider-container .slide-card {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  background: var(--off-white);
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--special-space);
  }
}
.slider-container .slide-card .slide-text-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 0;
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card .slide-text-side {
    padding-right: 3rem;
    margin-top: 0;
  }
}
.slider-container .slide-card .slide-text-side .product-label {
  font-family: var(--secondary-font);
  color: var(--bright-blue);
  font-weight: var(--thick-font);
  font-size: var(--small-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: var(--space-md);
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card .slide-text-side .product-label {
    font-size: var(--reg-font);
  }
}
.slider-container .slide-card .slide-text-side p {
  font-family: var(--secondary-font);
  color: var(--dark-blue);
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  line-height: 1.6;
  margin: 0 0 1rem 0;
  max-width: 540px;
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card .slide-text-side p {
    margin: 0 0 2rem 0;
  }
}
.slider-container .slide-card .slide-text-side .slide-button {
  background-color: var(--bright-blue);
  color: var(--white);
  border: none;
  padding: 0.5rem 1.5rem;
  font-family: var(--secondary-font);
  font-size: var(--small-font);
  font-weight: var(--standard-font);
  border-radius: var(--space-xs);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
.slider-container .slide-card .slide-text-side .slide-button:hover {
  background-color: var(--dark-blue);
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card .slide-text-side .slide-button {
    font-size: var(--reg-font);
    padding: 0.75rem 2rem;
    margin: 0 0 2rem 0;
  }
}
.slider-container .slide-card .slide-image-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 var(--space-xxl);
  height: 250px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card .slide-image-side {
    height: 70%;
    max-height: 100%;
  }
}
.slider-container .slide-card .slide-image-side img {
  max-height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card .slide-image-side img {
    max-width: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.slider-container .slide-card:nth-child(5) {
  padding: 0;
}
.slider-container .slide-card:nth-child(5) .slide-text-side {
  padding: 1rem;
  padding-right: 3rem;
}
.slider-container .slide-card:nth-child(5) .slide-image-side {
  padding: 0;
  height: 100%;
}
.slider-container .slide-card:nth-child(5) .slide-image-side img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  .slider-container .slide-card:nth-child(5) {
    padding: 0 0 0 var(--special-space);
  }
  .slider-container .slide-card:nth-child(5) .slide-image-side {
    position: relative;
    width: 100%;
    max-width: 50vw;
    padding: 0;
  }
  .slider-container .slide-card:nth-child(5) .slide-image-side img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 100%;
    min-height: 37.5rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}
.slider-container .nav-btn {
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: var(--white);
  border: 1px solid var(--white);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--bright-blue);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  .slider-container .nav-btn {
    top: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
}
.slider-container .nav-btn:hover {
  opacity: 1;
  background: #f8fafc;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}
.slider-container .nav-btn.prev {
  left: 1rem;
}
.slider-container .nav-btn.next {
  right: 1rem;
}
.slider-container .slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  margin-top: 2rem;
}
.slider-container .slider-dots .toggle-pause-button,
.slider-container .slider-dots .dot {
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
.slider-container .slider-dots .toggle-pause-button {
  width: 1rem;
  height: 1rem;
  position: relative;
  border: 1px solid var(--bright-blue);
}
.slider-container .slider-dots .toggle-pause-button svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: var(--bright-blue);
}
.slider-container .slider-dots .toggle-pause-button:hover {
  border: 1px solid var(--dark-blue);
  background: var(--dark-blue);
}
.slider-container .slider-dots .toggle-pause-button:hover svg {
  fill: var(--white);
}
.slider-container .slider-dots .dot {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--bright-blue);
}
.slider-container .slider-dots .dot:hover {
  border: 1px solid var(--dark-blue);
  background: var(--dark-blue);
}
.slider-container .slider-dots .dot.active {
  background: var(--bright-blue);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}